<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.reddit-intelligence.refresh</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/raghavshah/reddit_intelligence/scripts/run_refresh_and_upload.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/raghavshah/reddit_intelligence</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/raghavshah/reddit_intelligence/data/refresh_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/raghavshah/reddit_intelligence/data/refresh_stderr.log</string>
</dict>
</plist>
